<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>About</h1>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-lg-6">
      <p class='lead'>Jamy is highly curated mp3 blog aggregator to bring you the best tracks from the professional music blogging community.</p>
      <a href='http://twitter.com/jamyio'><i class="fa fa-2x fa-twitter"></i></a>
      <p>Made by <a href="mailto:dan@jamy.io">Dan Benson</a>.
          Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>. Powered by <a href="http://soundcloud.com">SoundCloud&#174;</a>.</p>
    </div>
  </div>  
