<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1 ng-bind-html='name'></h1>
    </div>
  </div>
</div>
<div infinite-scroll='load()' infinite-scroll-distance='1'>
	<li class='list-unstyled' ng-repeat="track in tracks">
		<div class="row track" ng-mouseenter="twitter = true" ng-mouseleave="twitter = false" ng-init="twitter=false">
      <div class='col-xs-1 hidden-xs'>
				<img ng-hide="currentTrack.loading && currentTrack.id == track.track_id" ng-src="{{track.artwork_url || '/assets/jamy.png'}}" class='pull-left' width='60' height="60">
        <img ng-show="currentTrack.loading && currentTrack.id == track.track_id" class="loading" src='/assets/loading.gif' width='60' height='60' />
      </div>
			<div class='col-sm-10 col-xs-12 track-info'>

        <span class="pull-right play-control">
          <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fjamy.io&text=Listening%20to%20{{track.title}}%20by%20{{track.artist}}%20on%20Jamy!%20@jamyio" 
             class="twitter-share-button pull-left hidden-xs" 
             data-lang="en"><i ng-show="twitter || currentTrack.id == track.track_id" class="fa fa-3x fa-twitter"></i></a>
              <a href="https://twitter.com/share?url=https%3A%2F%2Fjamy.io&text=Listening%20to%20{{track.title}}%20by%20{{track.artist}}%on%Jamy.io" 
             class="twitter-share-button pull-left visible-xs" 
             data-lang="en"><i class="fa fa-3x fa-twitter"></i></a>
          <i ng-click='play(track,tracks);' ng-hide="currentTrack.isplaying && currentTrack.id == track.track_id" class='pull-right fa fa-3x fa-play'></i>

          <i ng-click='pause(track)' ng-show="currentTrack.isplaying && currentTrack.id == track.track_id" class='pull-right fa fa-3x fa-pause'></i>
        </span>
				
				<span class="artist">{{track.artist}}</span>
				<a target='_blank' href="{{track.permalink_url}}" class="title">{{track.title}}</a> 
        <p class="comments" ng-show="currentTrack.id == track.track_id">{{currentTrack.comments}}</p>
			</div>
		</div>
	</li>
</div>
<div class="row">
  <img class="loading center-block" ng-show="loading" src='/assets/loading.gif' width='30' height='30' />
</div>