<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1 ng-bind-html='name'></h1>
    </div>
  </div>
</div>

		<li class='list-unstyled' ng-repeat="track in tracks">
			<div class="row track">
        <div class='col-xs-1 hidden-xs'>
  				<img ng-src="{{track.artwork_url || '<%= asset_path 'jamy.png' %>'}}" class='pull-left' width='60'>
        </div>
				<div class='col-xs-8 track-info'>
					
					<span class="artist">{{track.artist}}</span>
					<a target='_blank' href="{{track.permalink_url}}" class="title">{{track.title}}</a> 
          <p class="comments">{{track.comments}}</p>
				</div>
        <div class="col-xs-2">
					<i ng-click='toggle(track)' ng-hide="currentTrackId == track.track_id" class='pull-right fa fa-3x fa-play'></i>

					<i ng-click='toggle(track)' ng-show="currentTrackId == track.track_id" class='pull-right fa fa-3x fa-pause'></i>

					<img class="loading" ng-show="track.loading" src='/assets/loading.gif' width='30'/>
        </div>
			</div>
		</li>
