<div ng-controller='Player as player'>
<div ng-controller="LatestCtrl as latest">
	<li class='list-unstyled' ng-repeat="track in latest.tracks">
		<div class="row track-container">
			<img ng-src="{{track.artwork_url}}" class='pull-left' width='50'>
			<div class='track-info'>

				<p>

				<span class="artist">{{track.artist}}</span>

				<span class="title">{{track.title}}</span> 
				
				<i ng-click='player.toggle(track)' ng-hide="track.playing" class='fa fa-2x fa-play'></i>

				<i ng-click='player.toggle(track)' ng-show="track.playing" class='fa fa-2x fa-pause'></i>

				<img class="loading" ng-show="track.loading" src='/assets/loading.gif' width='30'/>

				</p>

				<p class="comments">{{track.comments}}</p>
			</div>
		</div>
	</li>
</div>
</div>