body {
	color: #444;
}
p {
	margin: 0;
}
h1 span {
	color: #E99002;
}

.orange {
	color: #E99002;
}
.logo { 
   font-family: 'Megrim', cursive; 
   font-weight: 900;
   font-size: 35px;
}
.megrim {
	font-family: 'Megrim', cursive; 
	font-weight: 900; 
}
.artist {
	font-size: 22px;
	overflow: hidden;
}
.title {
	font-size: 22px;
	color: #E99002;
}
.comments {
	width: 300px!important;
	height: 20px;
	color: #777;
	overflow: hidden!important;
	margin-bottom: 10px;
}
.loading {

}
.track {
	margin: 20px 0;
	padding-right: 0;
	padding-left: 0;
	min-height: 60px;
	border-bottom: 1px solid #dddddd;
}
.track-info {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
}
.track .col-xs-1 {
	padding-left: 0;
	/*padding-right: 20px*/
	margin: 0px 30px 30px 0;
}
/*.play-control {
	height: 80px;
}*/
.page-header {
	margin: 42px 0 0 0;
	padding-bottom: 0;
}
.dropdown-toggle {
	cursor: pointer;
}
/*.fa {
	padding: 0px;
	cursor: pointer;
	margin: 0;
	height: 10px!important;
	color: #ffff;
}*/
.fa-play:hover, .fa-pause:hover, .fa-fast-forward:hover, .fa-fast-backward:hover {
	color: #E99002;
}
 /*player controls*/
#control-container {
	position:fixed;
	margin: 0 auto;
	height: 45px;
	width: 100%;
	bottom: 0px;
	left: 0;
	z-index: 100;
	color: #ffffff;
	background-color: #333333;
	border-color: #222222;
	border: 1px 0px 0 0px;

}
#control-container i {
	padding: 10px;
}
#control-container .fa:hover {
 	background-color: #272727;
}

#control-container i {
	position: relative;
}
#control-container .now-playing {
	top:-3px;
	left: 5px;
	font-size: 12px;
	position: absolute;
	font-weight: 600;
	white-space: nowrap!important;
	overflow: hidden!important;
}

