body {
	color: #444;
}
p {
	margin: 0;
}
h1 span {
	color: #E99002;
}

.orange {
	color: #E99002;
}
.logo { 
   font-family: 'Megrim', cursive; 
   font-weight: 900;
   font-size: 35px;
}
.artist {
	font-size: 22px;
	overflow: hidden;
}
.title {
	font-size: 22px;
	color: #E99002;
}
.comments {
	width: 300px!important;
	height: 20px;
	color: #777;
	overflow: hidden!important;
	margin-bottom: 10px;
}
.loading {

}
.track {
	margin: 20px 0;
	min-height: 60px;
	border-bottom: 1px solid #dddddd;
}
.track-info {
	padding-left: 0;
}
.track .col-xs-1 {
	padding-left: 0;
	margin: 0px 30px 20px 0;
}
.page-header {
	margin: 42px 0 0 0;
	padding-bottom: 0;
}
.dropdown-toggle {
	cursor: pointer;
}

now-playing {
	color: blue;
	font-size: 30px;
	position: fixed;
	top: 0px;
	right: 50%;
	z-index: 10000;

}

.fa {
	padding-top: 5px;
	cursor: pointer;
}

@media (max-width: @screen-sm-max) {
	.track-info {
		display: none;
	}
}